{% extends "base.html" %}
{% load materializecss %}
{% block title %}ارسال خبر{% endblock title %}
{% block navbar_btns %}
<a class="btn waves-effect blue" href="{% url 'expenses:list' %}">خرج ها</a>
<a class="btn waves-effect blue" href="{% url 'incomes:list' %}">دخل ها</a>
<a class="btn waves-effect blue" href="{% url 'news:list' %}">اخبار</a>
<a href="{% url 'accounts:logout' %}" class="btn waves-effect blue">خروج</a>
{% endblock navbar_btns %}
{% block content %}
    <form method="post">
        {% csrf_token %}
        {{ form|materializecss }}
        <button type="submit" class='btn blue waves-effect'>ارسال خبر</button>
    </form>
{% endblock content %}
