{% extends "base.html" %}
{% load materializecss %}
{% block title %} {{ object.title }} {% endblock title %}
{% block navbar_btns %}
<a class="btn waves-effect blue" href="{% url 'expenses:list' %}">خرج ها</a>
<a class="btn waves-effect blue" href="{% url 'incomes:list' %}">دخل ها</a>
<a class="btn waves-effect blue" href="{% url 'news:list' %}">اخبار</a>
<a href="{% url 'accounts:logout' %}" class="btn waves-effect blue">خروج</a>
{% endblock navbar_btns %}
{% block content %}
<ul>
    <li>{{ object.title }}</li>
    <li>{{ object.text }}</li>
    <li>{{ object.date }}</li>
    <li>
        فعال
        {% if object.is_active %}
            است
        {% else %}
            نیست
        {% endif %}
    </li>
</ul>

<a href="{% url 'news:list' %}">لیست اخبار</a>
{% endblock content %}