{% extends "base.html" %}
{% load materializecss %}
{% block title %}{% endblock title %}
{% block content %}
<ol>
    {% for object in object_list %}
        <li>
            <p>
                <a href="{% url 'expenses:detail' object.pk %}">
                    {{ object.text }}
                </a>:
                {{ object.amount }}
                 - 
                {{ object.date }}</p>
        </li>
    {% empty %}
        <p>لیست خرج ها خالیست</p>
    {% endfor %}
</ol>
<a href="{% url 'expenses:create' %}">اضافه کردن خرج</a>
{% endblock content %}