{% extends "base.html" %}
{% load materializecss %}
{% block title %}اضافه کردن خرج{% endblock title %}
{% block navbar_btns %}
<a class="btn waves-effect blue" href="{% url 'expenses:list' %}">خرج ها</a>
<a class="btn waves-effect blue" href="{% url 'incomes:list' %}">دخل ها</a>
<a class="btn waves-effect blue" href="{% url 'news:list' %}">اخبار</a>
<a href="{% url 'accounts:logout' %}" class="btn waves-effect blue">خروج</a>
{% endblock navbar_btns %}
{% block content %}
    <h4 class="blue-text center-align  ">اضافه کردن خرج جدید</h4>
    <form method="post">
        {% csrf_token %}
        {{ form|materializecss }}
        <div class="center-align">
            <button type="submit" class='btn btn-large blue waves-effect'>تایید خرج</button>
        </div>
    </form>
{% endblock content %}
