{% extends "base.html" %}
{% load materializecss %}
{% block title %}حدف {{ object.text }}{% endblock title %}
{% block navbar_btns %}
<a class="btn waves-effect blue" href="{% url 'expenses:list' %}">خرج ها</a>
<a class="btn waves-effect blue" href="{% url 'incomes:list' %}">دخل ها</a>
<a class="btn waves-effect blue" href="{% url 'news:list' %}">اخبار</a>
<a href="{% url 'accounts:logout' %}" class="btn waves-effect blue">خروج</a>
<a href="url"></a>
{% endblock navbar_btns %}
{% block content %}
<form method="post">
    {% csrf_token %}
    <p>آیا واقعا میخواهید شیء زیر را حذف کنید <br> "{{ object.text }}"?</p>
    {{ form }}
    <button type="submit" class="btn red waves-effect">بله</button>
    <a href="{% url 'expenses:list' %}">
        <button type="button" class="btn blue waves-effect">نه</button>
    </a>
</form>
{% endblock content %}