{% extends "base.html" %}
{% block title %}
    {{ title }}
{% endblock title %}
{% block content %}
    <div style="text-align:center;">
        <h1>{{ title }}</h1>
        <p>
            {{ about }}
        </p>
        <div class="center-align">
            <a class="green btn btn-large waves-effect row" target="_blank" href="{{ github_addr }}">آدرس گیت هاب</a>
            
            <a class="green btn btn-large waves-effect row" href="{% url 'export_pdf' %}">خروجی PDF دخل و خرج ها تا الان</a>
        </div>
    </div>
    <br>
    <br>
{% endblock content %}
{% block navbar_btns %}
    {% if user %}
        <a class="btn waves-effect blue" href="{% url 'expenses:list' %}">خرج ها</a>
        <a class="btn waves-effect blue" href="{% url 'incomes:list' %}">دخل ها</a>
        <a class="btn waves-effect blue" href="{% url 'news:list' %}">اخبار</a>
        <a href="{% url 'accounts:logout' %}" class="btn waves-effect blue">خروج</a>
    {% else %}
        <a href="{% url 'accounts:login' %}" class="btn waves-effect blue">ورود</a>
        <a href="{% url 'accounts:register' %}" class="btn waves-effect blue">ثبت نام</a>
    {% endif %}
{% endblock navbar_btns %}
{% block buttons %}
    {% if user %}
        <div>
            <a class="btn waves-effect blue" href="{% url 'expenses:list' %}">خرج ها</a>
            <a class="btn waves-effect blue" href="{% url 'incomes:list' %}">دخل ها</a>
            <a class="btn waves-effect blue" href="{% url 'news:list' %}">اخبار</a>
            <a href="{% url 'accounts:logout' %}" class="btn waves-effect red">خروج</a>
        </div>
        <br>
        <br>
    {% else %}
        <a href="{% url 'accounts:login' %}" class="btn waves-effect blue">ورود</a>
        <a href="{% url 'accounts:register' %}" class="btn waves-effect blue">ثبت نام</a>
    {% endif %}
{% endblock buttons %}
