{% extends "base.html" %}
{% block title %}
    {{ title }}
{% endblock title %}
{% block content %}
    <div style="text-align:center;">
        <h1>{{ title }}</h1>
        <p>
            {{ about }}
        </p>
        <a target="_blank" href="{{ github_addr }}">آدرس گیت هاب</a>
    </div>
{% endblock content %}
{% block navbar_btns %}
    {% if user %}
        <a href="#" class="btn waves-effect blue">حساب کاربری</a>
        <a href="{% url 'accounts:logout' %}" class="btn waves-effect blue">خروج</a>
    {% else %}
        <a href="{% url 'accounts:login' %}" class="btn waves-effect blue">ورود</a>
        <a href="{% url 'accounts:register' %}" class="btn waves-effect blue">ثبت نام</a>
    {% endif %}
{% endblock navbar_btns %}
{% block buttons %}
    {% if user %}
    zereshk
        <a href="#" class="btn waves-effect blue">حساب کاربری</a>
        <a href="{% url 'accounts:logout' %}" class="btn waves-effect blue">خروج</a>
    {% else %}
        <a href="{% url 'accounts:login' %}" class="btn waves-effect blue">ورود</a>
        <a href="{% url 'accounts:register' %}" class="btn waves-effect blue">ثبت نام</a>
    {% endif %}
{% endblock buttons %}
