{% extends "base.html" %}
{% load materializecss %}
{% block title %}لیست دخل ها{% endblock title %}
{% block content %}
<form action="{% url 'incomes:search' %}" method="GET">
    <div class="input-field">
        <p style="display: flex;">
          <input type="text" name="q" placeholder="جستجو" value="{{ request.GET.q }}">
          <button
          type="submit"
          class="search-btn btn waves-effect blue"
          ><i class="fa fa-search"></i></button>
        </p>
    </div>
</form>
<ul class="collapsible white black-text amount-text">
    {% for object in object_list %}
        <li>
            <div class="collapsible-header">{{ object.text }}</div>
            <div class="collapsible-body">
                <span>
                    {{ object.amount }}
                </span>

                <br>

                <small>
                    {{ object.date }}
                </small>

                <br>
                
                <div class="action-wrapper">
                    <a href="#" class="btn waves-effect blue">ویرایش</a>
                    <a href="#" class="btn waves-effect blue">حذف</a>
                </div>
            </div>
        </li>
    {% empty %}
        <p>
           دخلی یافت نشد
        </p>
    {% endfor %}
</ul>

<div class="fixed-action-btn">
    <a class="btn-floating btn-large black plus-btn" href="{% url 'expenses:create' %}">
        <i class="large fas fa-plus"></i>
    </a>
</div>
{% endblock content %}
