{% extends "base.html" %}
{% load materializecss %}
{% block title %}اضافه کردن دخل جدید{% endblock title %}
{% block navbar_btns %}
<a class="btn waves-effect blue" href="{% url 'expenses:list' %}">خرج ها</a>
<a class="btn waves-effect blue" href="{% url 'incomes:list' %}">دخل ها</a>
<a class="btn waves-effect blue" href="{% url 'news:list' %}">اخبار</a>
<a href="{% url 'accounts:logout' %}" class="btn waves-effect blue">خروج</a>
{% endblock navbar_btns %}
{% block content %}
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <div style="center-align">	
    	<button type="submit" class="btn btn-large waves-effect blue">تایید دخل</button>
    </div>
</form>
{% endblock content %}